# WordPress core and third-party plugins are installed by setup.sh, not committed.
/web/*
!/web/wp-content/
/web/wp-content/*
!/web/wp-content/mu-plugins/
!/web/wp-content/themes/
/web/wp-content/themes/*
!/web/wp-content/themes/headless/
